.cols {
	@include medium {
		@include flex-grid($gutter);
	}
}

.col--1of2 {
	@include medium {
		@include flex-column($sixOfTwelve, $gutter);
	}
}

.col--1of3 {
	@include medium {
		@include flex-column($fourOfTwelve, $gutter);
	}
}

.col--2of3 {
	@include medium {
		@include flex-column($eightOfTwelve, $gutter);
	}
}

.col--1of4 {
	@include medium {
		@include flex-column($threeOfTwelve, $gutter);
	}
}

.col--1of12 {
	@include medium {
		@include flex-column($oneOfTwelve, $gutter);
	}
}

.col--2of12 {
	@include medium {
		@include flex-column($twoOfTwelve, $gutter);
	}
}

.col--3of12 {
	@include medium {
		@include flex-column($threeOfTwelve, $gutter);
	}
}

.col--4of12 {
	@include medium {
		@include flex-column($fourOfTwelve, $gutter);
	}
}

.col--5of12 {
	@include medium {
		@include flex-column($fiveOfTwelve, $gutter);
	}
}

.col--6of12 {
	@include medium {
		@include flex-column($sixOfTwelve, $gutter);
	}
}

.col--7of12 {
	@include medium {
		@include flex-column($sevenOfTwelve, $gutter);
	}
}

.col--8of12 {
	@include medium {
		@include flex-column($eightOfTwelve, $gutter);
	}
}

.col--9of12 {
	@include medium {
		@include flex-column($nineOfTwelve, $gutter);
	}
}

.col--10of12 {
	@include medium {
		@include flex-column($tenOfTwelve, $gutter);
	}
}

.col--11of12 {
	@include medium {
		@include flex-column($elevenOfTwelve, $gutter);
	}
}

.cols--wg {
	@include medium {
		@include flex-grid($gutter*4);
	}
}

.col--1of2--wg {
	@include medium {
		@include flex-column($sixOfTwelve, $gutter*4);
	}
}

.col--1of3--wg {
	@include medium {
		@include flex-column($fourOfTwelve, $gutter*4);
	}
}

.col--2of3--wg {
	@include medium {
		@include flex-column($eightOfTwelve, $gutter*4);
	}
}

.col--1of4--wg {
	@include medium {
		@include flex-column($threeOfTwelve, $gutter*4);
	}
}

.col--1of12--wg {
	@include medium {
		@include flex-column($oneOfTwelve, $gutter*4);
	}
}

.col--2of12--wg {
	@include medium {
		@include flex-column($twoOfTwelve, $gutter*4);
	}
}

.col--3of12--wg {
	@include medium {
		@include flex-column($threeOfTwelve, $gutter*4);
	}
}

.col--4of12--wg {
	@include medium {
		@include flex-column($fourOfTwelve, $gutter*4);
	}
}

.col--5of12--wg {
	@include medium {
		@include flex-column($fiveOfTwelve, $gutter*4);
	}
}

.col--6of12--wg {
	@include medium {
		@include flex-column($sixOfTwelve, $gutter*4);
	}
}

.col--7of12--wg {
	@include medium {
		@include flex-column($sevenOfTwelve, $gutter*4);
	}
}

.col--8of12--wg {
	@include medium {
		@include flex-column($eightOfTwelve, $gutter*4);
	}
}

.col--9of12--wg {
	@include medium {
		@include flex-column($nineOfTwelve, $gutter*4*2);
	}
}

.col--10of12--wg {
	@include medium {
		@include flex-column($tenOfTwelve, $gutter*4);
	}
}

.col--11of12--wg {
	@include medium {
		@include flex-column($elevenOfTwelve, $gutter*4);
	}
}

.cols--s {
	@include flex-grid($gutter);
}

.col--1of2--s {
	@include flex-column($sixOfTwelve, $gutter);
}

.col--1of3--s {
	@include flex-column($fourOfTwelve, $gutter);
}

.col--2of3--s {
	@include flex-column($eightOfTwelve, $gutter);
}

.col--1of4--s {
	@include flex-column($threeOfTwelve, $gutter);
}

.col--1of12--s {
	@include flex-column($oneOfTwelve, $gutter);
}

.col--2of12--s {
	@include flex-column($twoOfTwelve, $gutter);
}

.col--3of12--s {
	@include flex-column($threeOfTwelve, $gutter);
}

.col--4of12--s {
	@include flex-column($fourOfTwelve, $gutter);
}

.col--5of12--s {
	@include flex-column($fiveOfTwelve, $gutter);
}

.col--6of12--s {
	@include flex-column($sixOfTwelve, $gutter);
}

.col--7of12--s {
	@include flex-column($sevenOfTwelve, $gutter);
}

.col--8of12--s {
	@include flex-column($eightOfTwelve, $gutter);
}

.col--9of12--s {
	@include flex-column($nineOfTwelve, $gutter);
}

.col--10of12--s {
	@include flex-column($tenOfTwelve, $gutter);
}

.col--11of12--s {
	@include flex-column($elevenOfTwelve, $gutter);
}


.cols--zg {
	@include medium {
		@include flex-grid();
	}
}

.col--1of2--zg {
	@include medium {
		@include flex-column($sixOfTwelve);
	}
}

.col--1of3--zg {
	@include medium {
		@include flex-column($fourOfTwelve);
	}
}


// .cols--ng {
// 	@include medium {
// 		@include flex-grid($gutter-narrow);
// 	}
// }

// .col--1of2--ng {
// 	@include medium {
// 		@include flex-column($sixOfTwelve, $gutter-narrow);
// 	}
// }

// .col--1of3--ng {
// 	@include medium {
// 		@include flex-column($fourOfTwelve, $gutter-narrow);
// 	}
// }
// .cols--login-form {
// 	@include medium {
// 		@include flex-grid($gutter);
// 	}
// }

.cols--login-form {
	@include medium {
		flex: 1 1 auto;
		padding-right: $gutter*0.3333333333;
		padding-left: $gutter*0.3333333333;
		@include flex-v-align();
	}
}

.col--login-form {
	@include medium {
		flex: 1 1 auto;
		padding-right: $gutter*0.3333333333;
		padding-left: $gutter*0.3333333333;
	}
}

.col--header-aside {
	@include small {
		@include flex-column($sevenOfTwelve, $gutter);
	}
	@include medium {
		@include flex-column($nineOfTwelve, $gutter);
	}
}

.col--header-logo {
	@include small {
		@include flex-column($fiveOfTwelve, $gutter);
	}
	@include medium {
		@include flex-column($threeOfTwelve, $gutter);
	}
}



.column-inner-with-line
{
	position: relative;
	&::after {
		position: absolute;
		background-color: $lightGrey;
		@include medium {
			content: '';
			top: 0;
			right: -($gutter*4);
			height: 100%;
			width: 1px;
		}
	}

	.col--1of2--wg:nth-child(2n) & {
		&::after {
			@include medium {
				content: none;
			}
		}
	}

	// .col--1of3--wg:nth-child(3n) & {
	// 	&::after {
	// 		@include medium {
	// 			content: none;
	// 		}
	// 	}
	// }
}